
.dog-info-card {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
}

.right-side {
    width: 80%;
}

span {
    font-weight: bold;
}

.about-breed {
    margin-bottom: -15px;
}

.image-size {
    height: 500px;
    width: 670px;
    // border: 1px solid red;
    object-fit: cover;
    object-position: top;
}

