
.dog-info-card {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.right-side {
    width: 80%;
}

img {
    height: 60vh;
    // width: 100%;
    object-fit: contain;
}

span {
    font-weight: bold;
}