.outer-div {
    border: 1px solid red;
    background-color: var(--nav-blue);
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav-categories {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid red;
    height: 80%;
    width: 100vw;
}

.logo {
    height: 120px;
    border: 1px solid red;
}

.arrow {
    height: 15px;
}

.cats-nav, .dogs-nav, .resources-nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cat-select, .dog-select, .resources-select {
    opacity: 0;
}

.cat-select:hover, .dog-select:hover, .resources-select:hover{
    opacity: 1;
}
