.outer-div {
    // border: 1px solid red;
    background-color: var(--nav-blue);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}

.nav-categories {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    // border: 1px solid red;
    height: 80%;
    width: 100%;
    max-width: 75vw;

    .breed-link {
        padding: 10px;
        font-size: 20px;
        padding-left: 1rem;

        &:hover{
            background-color: lightgray;
        }
    }
}

.logo {
    height: 150px;
    margin-bottom: 2rem;
    // border: 1px solid red;
}

.arrow {
    height: 15px;
}

h1 {
    font-size: 30px;
    // margin-bottom: 0;
}

.cats-nav, .dogs-nav, .resources-nav {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover{
        cursor: pointer;
    }
}

.cat-select, .dog-select, .resources-select {
    opacity: 0;
}

.cat-select:hover, .dog-select:hover, .resources-select:hover{
    opacity: 1;
}

.cat-dropdown, .dog-dropdown, .resource-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 50vh;
    overflow: scroll;
    background-color: var(--nav-blue);
    border-radius: 0 0 1rem 1rem;
    z-index: 10;
}

a {
    color: black;
    text-decoration: none;
}

.log-out-link:hover {
    cursor: pointer;
}