@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Work+Sans&display=swap');

:root {
	--nav-blue: #6997C1;
	--secondary-gray: #8E8E8E;
}

* {
	box-sizing: border-box;
	font-family: 'Neuton', serif;
	font-family: 'Work Sans', sans-serif;
}

.hidden {
	display: none;
}

body {
	margin-bottom: 5rem;
}


