@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

:root {
	--nav-blue: #6997C1;
	--secondary-gray: #8E8E8E;
}

* {
	box-sizing: border-box;
	font-family: 'Klee One', cursive;
}

.hidden {
	display: none;
}

body {
	margin-bottom: 5rem;
}


input {
	border-radius: 10px;
}